//Menu wrapper

.menu-list {
    width: 224px;
    margin: 6px 12px;
}

//Menu-items

.menu-item {
    color: black;
   
    width: 100%;
    display: flex;
    border-radius: 0;
    justify-content: flex-start;
    line-height: 1.8rem;


    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.menu-wrapper {
    padding-bottom: 8px;
}


.menu-body {
    overflow-y: overlay;
}


// Header-menu

.header{
    position: relative;
    flex-shrink: 0;
    height: 50px;
    margin-top: -8px;
    

}

.back-btn{
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;

}

.header-title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
